body {
    background-color: black;
}
.title {
    color: aliceblue;
    text-align: center;
    background-color: rgb(60, 42, 42);
}
p {
    color: white ;
}
.movie-container {
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
}

.movies {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topMovie {
    grid-column: 1 / span 2;
}

.movieModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}
.movieContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(60, 42, 42);
    padding: 1rem 1rem;
    width: 20rem;
    border: 1rem; 
    margin: 1rem;
    padding: 1rem;
}

.close-button {
    float: right;
    position: relative;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(60, 42, 42);
    margin: 0;
    padding: 0;
    color: wheat;
}
.close-button:hover {
    background-color: darkgray;
}

.show-movieModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    margin: 2px;
    padding: 2px;
    text-align: center;
}

.modal-image {
    max-width: 300px;
    max-height: 300px;
}
